@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sacrament Meeting Planner!</h1>
    <p>This app was made to help make sacrament meeting planners. To get started click on meetins at the top and click creat new. From there fill in the information and click save. That will take you to the speakers, where you will be able to create as many speakers as you would like for the meeting.</p>
    <img src="~/Planner.png" alt="A meeting planner example" style="border:black solid 1px" width="100%"/>
</div>
